.header {
    display: flex;
    background-color: rgb(102, 102, 236);
    color: aliceblue;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    transition: 10s;
}

.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 40%;
    padding: 0%;
}

.date-time {
    margin-left: 25%;
    margin-top: 20px;
}

.currenttime {
    font-size: 20px;
    margin-top: 5px;
}

.currentdate {

    font-size: 20px;
    margin-top: 5px;
}

.maindiv {
    display: flex;
}

.second,
.minute,
.hour {
    margin: 30px;
}

.btn {
    background-color: rgb(102, 102, 236);
    color: aliceblue;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(102, 102, 236);
    width: 100px;
    border-radius: 3px;
}

.timer {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
}

.btn:hover {
    background-color: rgb(182, 182, 186);
    cursor: pointer;
}